/* Обертка для AppBar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #333;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Обертка для раздела аутентификации */
.authSection {
  display: flex;
  align-items: center;
}