.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: #fbe3e3;
  border: 1px solid #f0b2b2;
  border-radius: 10px;
  margin: 24px;
}

.errorText {
  color: #c82333;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}