.contactWrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  min-width: 360px;
}

.wrapper {
  display: flex;
  gap: 14px;
  align-items: center;
}

.deleteBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteBtn:hover {
  background-color: #ff1a1a;
}