.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fafafa;
    font-size: 1.5rem;
    color: #777;
}

strong {
    font-weight: bold;
}

.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9e9e9;
    padding: 20px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9e9e9;
    padding: 20px;
}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fefefe;
    padding: 20px;
}

.greeting-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    color: #444;
}

.login-page .login-form-container,
.registration-page .registration-form-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
}